$icon-font-path: '../fonts/';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700);
@import url(https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
$primary: #0288D1;

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.header{
	height:80px;
	&__logo{
		cursor:pointer;
		color: $primary;
		font-size:30px;
		line-height:60px;
		font-weight: 700;
		letter-spacing: 5px;
		margin:10px 0 10px 0;
		display:inline-block;
	}
	&__nav{
		height:80px;
		li{
			a{	
				text-align:center;
				padding:0;
				border-radius:0px;
				&:hover{
					color:black;
					background:none;
					text-decoration: underline;
				}
			}
		}
		&__btn{
			cursor:pointer;
			color:black;
			width:60px;
			font-size:12px;
			font-weight:300;
			line-height:60px;
			margin:10px 0 10px 0;
		}
	}
}

.jumbotron{
	height:400px;
	background: url(/images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	&__create{
		text-align:center;
		position:relative;
		top:60px;
		p{	
			font-family: 'Annie Use Your Telescope', cursive;
			font-size:48px;
			font-weight:400;
			color:white;
			padding-bottom:20px;
		}
		a{	
			cursor:pointer;
			font-size:18px;
			font-weight:300;
			color:white;
			border-radius:3px;
			background-color:$primary;
			padding:10px;
			&:hover{
				text-decoration:none;
				background-color: #0277BD;
			}
		}
	}
}

.eventTable{
	h2{
		padding-bottom:20px;
		font-weight:700;
	}
	.thumbnail{
	border:none;
	border-radius:0;
	border-top:1px solid #29B6F6;
	height:150px;
}
}


.modal{
	.modal-dialog{
		.modal-header{
			text-align:center;
		}
		.modal-footer{
			text-align:center;
			button{
				background-color:$primary;
				border:none;
			}
		}
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.header{
		height:100px;
		&__logo{
			font-size:30px;
			line-height:60px;
			margin:20px 0 20px 0;
		}
		&__nav{
			height:100px;
			&__btn{
				color:black;
				width:100px;
				font-size:14px;
				line-height:60px;
				margin:20px 0 20px 0;
			}
		}
	}
}
